/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 26, 2015, 11:25:42 AM
    Author     : Tamir
*/
body{
    background-image: url("../resources/img/ChineseCheckers.jpg");
    background-size: 100%;
}
.header p{
    font-size: 80px;
    font-weight: 900;
    color: whitesmoke;
    text-align: center;
}
#newGameBtn{
    margin-top: 50px;
}
#newGameBtn, #loadFile, #loadGame{
    width: 100%;
    margin-bottom: 20px;
}
#loadFile{
    padding-left: 214px;
}
#loadGameForm input:focus, #newGameForm input:focus{
    outline: none;
}